a {
	color: blue;
	text-decoration: none;
}

#header {
	padding-bottom: 10px;
}

#userinput {
	width: 450px;
	float: left;
}

#userinput .adder {
	padding-bottom: 5px;
}

#userinput .submit {
	padding-bottom: 5px;
}

#userinput .chooser {
	padding: 5px 10px 5px 20px;
}

#userinput .chooser span {
	padding-right: 10px;
}

#userinput select.feature {
	width: 200px;
}

#userinput select.value {
	width: 100px;
}

#results {
	display: none;
	text-align: center;
	float: left;
}

#baseline_chart,
#features_chart  {
	display: inline-block;
	width: 400px;
}

#column_chart {
	display: inline-block;
	width: 600px;
	height: 400px;
}